<% if @otro.errors.any? %>
   <ul>
      <% @otro.errors.each do |atributo, mensaje| %>
      <li> <%= mensaje %> </li>
      <% end %>
   </ul>
<% end %>

<%= form_for @otro do |f| %>
   <p>
      <%= f.label :codotro, "Codigo del articulo de la Oficina" %>
      <br />
      <%= f.text_field :codotro, {:value => @codotro} %>
   </p>
   <p>
      <%= f.label :marca, "marca" %>
      <br />
      <%= f.text_area :marca, {:value => @marca} %>
   </p>
   <p>
      <%= f.label :descripcion, "Descripción" %>
      <br />
      <%= f.text_area :descripcion, {:value => @descripcion} %>
   </p>
   <p>
      <%= f.label :fechacompra, "Fecha de compra" %>
      <br />
      <%= f.text_area :fechacompra, {:value => @fechacompra} %>
   </p>
   <p>
      <%= f.submit "Enviar" %> <%= link_to "Cancelar", otros_path %>
   </p>
<% end %>
