h2> Lista de Articulos</h2>
<p> <%= link_to "Crear nuevo Articulo", new_otros_path %> </p>
<ul>
   <% @equipos.each do |t| %>
   <li>
      <h3> <%= t.codotro %> </h3>
      <p>
         <%= link_to "Ver", t %>
         |
         <%= link_to "Editar", edit_otros_path(t) %>
         |
         <%= link_to "Eliminar", t, :confirm => "Seguro desea eliminar este Articulo?", :method => :delete %>
      </p>
   </li>
   <% end %>
</ul>
