<h2> <%= @otro.codotro %> </h2>
<div>
   <%= simple_format @otro.marca %>
</div>
<div>
   <%= simple_format @otro.descripcion %>
</div>
<div>
   <%= simple_format @otro.fechacompra %>
</div>
<p> <%= link_to "Volver", otro_path %> </p>
