<% if @mueble.errors.any? %>
   <ul>
      <% @mueble.errors.each do |atributo, mensaje| %>
      <li> <%= mensaje %> </li>
      <% end %>
   </ul>
<% end %>

<%= form_for @mueble do |f| %>
   <p>
      <%= f.label :codmue, "Codigo del mueble de la Oficina" %>
      <br />
      <%= f.text_field :codmue, {:value => @codmue} %>
   </p>
   <p>
      <%= f.label :marca, "marca" %>
      <br />
      <%= f.text_area :marca, {:value => @marca} %>
   </p>
   <p>
      <%= f.label :largo, "Largo en cm" %>
      <br />
      <%= f.text_area :largo, {:value => @largo} %>
   </p>
   <p>
      <%= f.label :ancho, "ancho en cm" %>
      <br />
      <%= f.text_area :ancho, {:value => @ancho} %>
   </p>
   <p>
      <%= f.label :descripcion, "Descripción" %>
      <br />
      <%= f.text_area :descripcion, {:value => @descripcion} %>
   </p>
   <p>
      <%= f.label :fechacompra, "Fecha de compra" %>
      <br />
      <%= f.text_area :fechacompra, {:value => @fechacompra} %>
   </p>
   <p>
      <%= f.submit "Enviar" %> <%= link_to "Cancelar", muebles_path %>
   </p>
<% end %>
